Repository webcyou-org/game-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,vue}": [
    "eslint --fix"
  ],
  "*.{css,scss,vue}": [
    "stylelint --fix"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

deploy: ff04e0d2622c7ade4d67f0396d20e279ab83f467
  200.html
  _nuxt/418ae8c.js
  _nuxt/4f88247.js
  _nuxt/a584b7d.js
  _nuxt/b4496c2.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

refactor: 💡 change refresh btn
  pages/zelda_bow/item.vue
Due: eslint --fix, stylelint --fix

deploy: c28988531002109b5d2306f498a50a58edc3d95b
  200.html
  _nuxt/3ccede4.js
  _nuxt/a584b7d.js
  _nuxt/b4496c2.js
  _nuxt/cdec88f.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

fix: 🐛 display item length
  pages/zelda_bow/item.vue
Due: eslint --fix, stylelint --fix

deploy: bc473ec9635934fea7ebb0be0f4a515f56122487
  200.html
  _nuxt/34d2cad.js
  _nuxt/3ccede4.js
  _nuxt/bf3e921.js
  _nuxt/cdec88f.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

feat: 🎸 add tree arrow item
  config/dataurl.ts
  config/zelda-bow-item-list.ts
Due: eslint --fix

deploy: b9b778867304693f8d01f95cd36b21c54aa08cc3
  200.html
  _nuxt/34d2cad.js
  _nuxt/59597ff.js
  _nuxt/b006c64.js
  _nuxt/bf3e921.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

feat: 🎸 add item image dataurl
  config/dataurl.ts
  config/zelda-bow-item-list.ts
Due: eslint --fix

deploy: 49f98632707ae40be2138becde5d757a1ccf7be9
  200.html
  _nuxt/59597ff.js
  _nuxt/b006c64.js
  _nuxt/b7b1228.js
  _nuxt/fddc67e.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

refactor: 💡 refrash btn
  pages/zelda_bow/item.vue
Due: eslint --fix, stylelint --fix

deploy: 72d56f0020c229d54a2c41c0f2a3f9d8d42e0eea
  200.html
  _nuxt/3967714.js
  _nuxt/3b1c64b.js
  _nuxt/b7b1228.js
  _nuxt/fddc67e.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

feat: 🎸 create display item name
  pages/zelda_bow/item.vue
Due: eslint --fix, stylelint --fix

deploy: df1d3e8a60994caf13989a60a8c39788686b030f
  200.html
  _nuxt/0e538bc.js
  _nuxt/3967714.js
  _nuxt/3b1c64b.js
  _nuxt/e7dfd12.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

feat: 🎸 add box shadow anime
  pages/zelda_bow/index.vue
Due: eslint --fix, stylelint --fix

deploy: a7d845abdfe46466518abf60d6d0924efea88237
  200.html
  _nuxt/0e538bc.js
  _nuxt/7152472.js
  _nuxt/LICENSES
  _nuxt/a65da10.js
  _nuxt/d97c62a.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

refactor: 💡 scss box sizing & create home
  assets/images/pic_home_main_menu_1.jpg
  assets/scss/style.scss
  pages/index.vue
  pages/zelda_bow/index.vue
Due: eslint --fix, stylelint --fix

deploy: e72e7905cae589370bc43b6b0db23219410e3e67
  200.html
  _nuxt/0f59e6d.js
  _nuxt/220acc3.js
  _nuxt/52b8e7e.js
  _nuxt/57da091.js
  _nuxt/7152472.js
  _nuxt/715d5be.js
  _nuxt/76d3c77.js
  _nuxt/9618aee.js
  _nuxt/LICENSES
  _nuxt/a65da10.js
  _nuxt/bc275a1.js
  _nuxt/e317dff.js
  _nuxt/e7dfd12.js
  _nuxt/img/pic_home_main_menu_1.ca62b61.jpg
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

refactor: 💡 home main contents layout
  pages/index.vue
Due: eslint --fix, stylelint --fix

deploy: e713374ef422195e63af4fdaed394ae0f0df76d7
  200.html
  _nuxt/09beb43.js
  _nuxt/0f59e6d.js
  _nuxt/715d5be.js
  _nuxt/789bab7.js
  _nuxt/LICENSES
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

refactor: 💡 home main menu active anime
  pages/index.vue
Due: eslint --fix, stylelint --fix

deploy: 6499ba5df2a04ae7edfdb8c6cb305d3a43dadb31
  200.html
  _nuxt/06b6d81.js
  _nuxt/0970f5a.js
  _nuxt/09beb43.js
  _nuxt/0e69b6e.js
  _nuxt/10c2f64.js
  _nuxt/18e4f50.js
  _nuxt/220acc3.js
  _nuxt/57da091.js
  _nuxt/5b7b09f.js
  _nuxt/7194498.js
  _nuxt/76d3c77.js
  _nuxt/789bab7.js
  _nuxt/823c265.js
  _nuxt/90a5a81.js
  _nuxt/9618aee.js
  _nuxt/LICENSES
  _nuxt/cfcb4fc.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

refactor: 💡 home main menu item change border style
  pages/index.vue
Due: eslint --fix, stylelint --fix

deploy: 7f43ccea831c065c8989831a237a89c7ab257345
  200.html
  _nuxt/3976bb2.js
  _nuxt/5b7b09f.js
  _nuxt/90a5a81.js
  _nuxt/97b5bd3.js
  _nuxt/LICENSES
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

feat: 🎸 add favicon image
  static/favicon.ico
Due: none

deploy: 058d6880fb5395eecfa910b493dbbab716e087ed
  favicon.ico
Due: none

refactor: 💡 delete logo vue
  components/Logo.vue
Due: eslint --fix, stylelint --fix

feat: 🎸 add wifi mixin style
  assets/scss/base/_base.scss
  assets/scss/base/_mixin.scss
  assets/scss/style.scss
  pages/index.vue
  stylelint.config.js
Due: eslint --fix, stylelint --fix

refactor: 💡 delete test
  test/Logo.spec.js
Due: eslint --fix

fix: 🐛 add component test
  test/item-acquisition.spec.js
Due: eslint --fix

fix: 🐛 add sample test file
  test/item-acquisition.spec.js
  test/sample.spec.js
Due: eslint --fix

deploy: ec0b419451137f642abc8ab1c3b6d555f52abd7b
  200.html
  _nuxt/03de77c.js
  _nuxt/06b6d81.js
  _nuxt/0970f5a.js
  _nuxt/0e69b6e.js
  _nuxt/10c2f64.js
  _nuxt/268c4fd.js
  _nuxt/2b5bd61.js
  _nuxt/2ddf2dd.js
  _nuxt/3976bb2.js
  _nuxt/57e362d.js
  _nuxt/7194498.js
  _nuxt/74ea6eb.js
  _nuxt/7be80a4.js
  _nuxt/823c265.js
  _nuxt/97b5bd3.js
  _nuxt/9fb8a7a.js
  _nuxt/LICENSES
  _nuxt/a849400.js
  _nuxt/ce06ea5.js
  _nuxt/cfcb4fc.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

refactor: 💡 nuxt meta data
  nuxt.config.js
Due: eslint --fix

deploy: 1e1494f3359421d96bfca48d342d0fb8fec6db24
  200.html
  _nuxt/a849400.js
  _nuxt/c50c8c1.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

feat: 🎸 create pic controller switch
  pages/index.vue
Due: eslint --fix, stylelint --fix

deploy: aae832166f0f828324a758f6fb784776249dcbb7
  200.html
  _nuxt/2b5bd61.js
  _nuxt/484a43d.js
  _nuxt/7be80a4.js
  _nuxt/LICENSES
  _nuxt/da969bc.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

refactor: 💡 home menu active
  pages/index.vue
Due: eslint --fix, stylelint --fix

deploy: 2d03886609bbc3d26cf6562c6b73bc3a29b927de
  200.html
  _nuxt/0ce4fa5.js
  _nuxt/15f97bd.js
  _nuxt/484a43d.js
  _nuxt/da969bc.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

refactor: 💡 add subMenuList first background
  pages/index.vue
Due: eslint --fix, stylelint --fix

deploy: b2c5d5f106702eb64b33fdaca10ad292ca94c660
  200.html
  _nuxt/0bb11eb.js
  _nuxt/0ce4fa5.js
  _nuxt/15f97bd.js
  _nuxt/5623aa2.js
  _nuxt/LICENSES
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

refactor: 💡 mixin wifi icon style
  assets/scss/base/_mixin.scss
  pages/index.vue
Due: eslint --fix, stylelint --fix
