Repository webcyou-org/game-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

refactor package
  package-lock.json
  package.json
Due: prettier --write

refactor: 💡 update zelda item ui
  assets/scss/base/_reset.scss
  assets/scss/style.scss
  components/zelda/item-acquisition.vue
  nuxt.config.js
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix, prettier --write

feat: 🎸 create item image
  components/zelda/item-acquisition.vue
  config/dataurl.ts
  pages/index.vue
Due: eslint --fix, stylelint --fix

refactor: 💡 update ZeldaItemAcquisitionList
  components/zelda/item-acquisition.vue
Due: eslint --fix, stylelint --fix

refactor: 💡 position style
  components/zelda/item-acquisition.vue
Due: eslint --fix, stylelint --fix

refactor: 💡 delete style
  components/README.md
  components/zelda/item-acquisition.vue
  pages/README.md
Due: eslint --fix, stylelint --fix

refactor delete list index
  components/zelda/item-acquisition.vue
Due: eslint --fix, stylelint --fix

refactor: 💡 code style
  components/zelda/item-acquisition.vue
  pages/index.vue
  pages/zelda_bow/index.vue
Due: eslint --fix, stylelint --fix

feat: 🎸 create zelda bow home page
  assets/images/bg_zelda_bow_home.jpg
  assets/images/pic_zelda_bow_main_menu.jpg
  pages/zelda_bow/index.vue
Due: eslint --fix, stylelint --fix

feat: 🎸 create list active style
  pages/zelda_bow/index.vue
Due: eslint --fix, stylelint --fix

refactor: 💡 zeldaMainMenuList data
  components/zelda/item-acquisition.vue
  pages/zelda_bow/index.vue
Due: eslint --fix, stylelint --fix

refactor: 💡 change list active class
  pages/zelda_bow/index.vue
Due: eslint --fix, stylelint --fix

refactor: 💡 main top page
  pages/index.vue
Due: eslint --fix, stylelint --fix

add docs file
  docs/.nojekyll
  docs/200.html
  docs/README.md
  docs/_nuxt/3af6f37.js
  docs/_nuxt/3d2e4b0.js
  docs/_nuxt/48fcc37.js
  docs/_nuxt/686a29d.js
  docs/_nuxt/74b058e.js
  docs/_nuxt/7bbe53e.js
  docs/_nuxt/7e777c9.js
  docs/_nuxt/7fa4c68.js
  docs/_nuxt/LICENSES
  docs/_nuxt/f2f04f6.js
  docs/_nuxt/fonts/fa-regular-400.6810be1.eot
  docs/_nuxt/fonts/fa-regular-400.8a7914c.woff
  docs/_nuxt/fonts/fa-regular-400.a3b4cd3.ttf
  docs/_nuxt/fonts/fa-regular-400.a3f7358.woff2
  docs/_nuxt/fonts/fa-solid-900.2f6dbd9.eot
  docs/_nuxt/fonts/fa-solid-900.9b4d14a.ttf
  docs/_nuxt/fonts/fa-solid-900.acc6b6b.woff2
  docs/_nuxt/fonts/fa-solid-900.e4efd59.woff
  docs/_nuxt/fonts/fontawesome-webfont.0317d58.woff2
  docs/_nuxt/fonts/fontawesome-webfont.f0af168.ttf
  docs/_nuxt/fonts/fontawesome-webfont.f7f1738.woff
  docs/_nuxt/img/bg_zelda_bow_home.b8882f6.jpg
  docs/_nuxt/img/fa-regular-400.0242863.svg
  docs/_nuxt/img/fa-solid-900.c8a5f74.svg
  docs/_nuxt/img/pic_zelda_bow_main_menu.4e023de.jpg
  docs/favicon.ico
  docs/index.html
  docs/zelda_bow/index.html
Due: eslint --fix, prettier --write

refactor: 💡 router base path
  nuxt.config.js
Due: eslint --fix

refactor: 💡 rebuild
  docs/200.html
  docs/_nuxt/105ff22.js
  docs/_nuxt/3af6f37.js
  docs/_nuxt/5def85c.js
  docs/_nuxt/f2f04f6.js
  docs/index.html
  docs/zelda_bow/index.html
Due: eslint --fix, prettier --write

refactor: 💡 add build path
  nuxt.config.js
Due: eslint --fix

refactor: 💡 delete build path
  nuxt.config.js
Due: eslint --fix

refactor: update eslint ignore
  .eslintignore
Due: none

refactor: 💡 zelda item emit event
  components/zelda/item-acquisition.vue
  pages/index.vue
  pages/zelda_bow/index.vue
  pages/zelda_bow/item.vue
Due: eslint --fix, stylelint --fix

fix: 🐛 add beforeDestroy
  components/zelda/item-acquisition.vue
Due: eslint --fix, stylelint --fix

feat: 🎸 add build task
  .github/workflows/ci.yml
Due: none

fix: 🐛 generate task
  .github/workflows/ci.yml
Due: none

refactor: 💡 deploy task
  .github/workflows/ci.yml
  nuxt.config.js
Due: eslint --fix

deploy: b27feae72e127bc2be44853960dd89eb67e4c1c4
  .nojekyll
Due: none

fix: 🐛 add generate task
  .github/workflows/ci.yml
Due: none

deploy: 9d72168979e587cd4789e07f373493dc30ec8bf5
  200.html
  README.md
  _nuxt/0f91369.js
  _nuxt/2ad2533.js
  _nuxt/37bf795.js
  _nuxt/415eeec.js
  _nuxt/48fcc37.js
  _nuxt/589a78f.js
  _nuxt/74badae.js
  _nuxt/LICENSES
  _nuxt/e222380.js
  _nuxt/ed143f2.js
  _nuxt/fd6f856.js
  _nuxt/fonts/fa-regular-400.6810be1.eot
  _nuxt/fonts/fa-regular-400.8a7914c.woff
  _nuxt/fonts/fa-regular-400.a3b4cd3.ttf
  _nuxt/fonts/fa-regular-400.a3f7358.woff2
  _nuxt/fonts/fa-solid-900.2f6dbd9.eot
  _nuxt/fonts/fa-solid-900.9b4d14a.ttf
  _nuxt/fonts/fa-solid-900.acc6b6b.woff2
  _nuxt/fonts/fa-solid-900.e4efd59.woff
  _nuxt/fonts/fontawesome-webfont.0317d58.woff2
  _nuxt/fonts/fontawesome-webfont.f0af168.ttf
  _nuxt/fonts/fontawesome-webfont.f7f1738.woff
  _nuxt/img/bg_zelda_bow_home.b8882f6.jpg
  _nuxt/img/fa-regular-400.0242863.svg
  _nuxt/img/fa-solid-900.c8a5f74.svg
  _nuxt/img/pic_zelda_bow_main_menu.4e023de.jpg
  favicon.ico
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

refactor: 💡 generate task
  .github/workflows/ci.yml
  nuxt.config.js
Due: eslint --fix

refactor: 💡 test
  pages/index.vue
Due: eslint --fix, stylelint --fix

deploy: b930d06cc10cad0d5b17ddad49020280fb90729c
  200.html
  _nuxt/74badae.js
  _nuxt/LICENSES
  _nuxt/a2315f1.js
  _nuxt/e91f8cb.js
  _nuxt/fd6f856.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

refactor: 💡 delete docs files
  docs/.nojekyll
  docs/200.html
  docs/README.md
  docs/_nuxt/105ff22.js
  docs/_nuxt/3d2e4b0.js
  docs/_nuxt/48fcc37.js
  docs/_nuxt/5def85c.js
  docs/_nuxt/686a29d.js
  docs/_nuxt/74b058e.js
  docs/_nuxt/7bbe53e.js
  docs/_nuxt/7e777c9.js
  docs/_nuxt/7fa4c68.js
  docs/_nuxt/LICENSES
  docs/_nuxt/fonts/fa-regular-400.6810be1.eot
  docs/_nuxt/fonts/fa-regular-400.8a7914c.woff
  docs/_nuxt/fonts/fa-regular-400.a3b4cd3.ttf
  docs/_nuxt/fonts/fa-regular-400.a3f7358.woff2
  docs/_nuxt/fonts/fa-solid-900.2f6dbd9.eot
  docs/_nuxt/fonts/fa-solid-900.9b4d14a.ttf
  docs/_nuxt/fonts/fa-solid-900.acc6b6b.woff2
  docs/_nuxt/fonts/fa-solid-900.e4efd59.woff
  docs/_nuxt/fonts/fontawesome-webfont.0317d58.woff2
  docs/_nuxt/fonts/fontawesome-webfont.f0af168.ttf
  docs/_nuxt/fonts/fontawesome-webfont.f7f1738.woff
  docs/_nuxt/img/bg_zelda_bow_home.b8882f6.jpg
  docs/_nuxt/img/fa-regular-400.0242863.svg
  docs/_nuxt/img/fa-solid-900.c8a5f74.svg
  docs/_nuxt/img/pic_zelda_bow_main_menu.4e023de.jpg
  docs/favicon.ico
  docs/index.html
  docs/zelda_bow/index.html
Due: eslint --fix, prettier --write

feat: 🎸 create item view
  pages/zelda_bow/item.vue
Due: eslint --fix, stylelint --fix

deploy: cbc6aa44b34f9f33cb35dd62651899382b47c5ba
  200.html
  _nuxt/0f91369.js
  _nuxt/22596b0.js
  _nuxt/2ad2533.js
  _nuxt/415eeec.js
  _nuxt/48fcc37.js
  _nuxt/606b734.js
  _nuxt/63c2227.js
  _nuxt/896ad27.js
  _nuxt/LICENSES
  _nuxt/a2315f1.js
  _nuxt/cceb4ff.js
  _nuxt/e222380.js
  _nuxt/fc99535.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

refactor: 💡 apple image dataurl
  config/dataurl.ts
Due: eslint --fix

deploy: 03cd31379636c733745900a764eb5e8a66d756b8
  200.html
  _nuxt/22596b0.js
  _nuxt/cceb4ff.js
  _nuxt/d360b1f.js
  _nuxt/eade9b5.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

refactor: 💡 main menu image
  assets/images/pic_zelda_bow_main_menu_1.jpg
  assets/images/pic_zelda_bow_main_menu_2.jpg
  assets/images/pic_zelda_bow_main_menu_3.jpg
  assets/images/pic_zelda_bow_main_menu_4.jpg
  pages/zelda_bow/index.vue
Due: eslint --fix, stylelint --fix

deploy: 8591c268ae88600547787fb9ac1a6a3aa664f32e
  200.html
  _nuxt/069516d.js
  _nuxt/0e69b6e.js
  _nuxt/18e4f50.js
  _nuxt/196f1a0.js
  _nuxt/37bf795.js
  _nuxt/47aa469.js
  _nuxt/589a78f.js
  _nuxt/5af59c5.js
  _nuxt/5d90d9b.js
  _nuxt/606b734.js
  _nuxt/LICENSES
  _nuxt/a4e0b0a.js
  _nuxt/d360b1f.js
  _nuxt/e91f8cb.js
  _nuxt/eade9b5.js
  _nuxt/ed143f2.js
  _nuxt/fc99535.js
  _nuxt/img/pic_zelda_bow_main_menu_1.4e023de.jpg
  _nuxt/img/pic_zelda_bow_main_menu_2.8a28439.jpg
  _nuxt/img/pic_zelda_bow_main_menu_3.0662655.jpg
  _nuxt/img/pic_zelda_bow_main_menu_4.f762ea4.jpg
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

refactor: 💡 create zeleda get item page bg
  assets/images/bg_zelda_bow_green.jpg
  pages/zelda_bow/item.vue
Due: eslint --fix, stylelint --fix

deploy: 51d5d7c1a600ebbfc0e6936fb21d87becee1f706
  200.html
  _nuxt/069516d.js
  _nuxt/196f1a0.js
  _nuxt/2ddf2dd.js
  _nuxt/418ae8c.js
  _nuxt/47aa469.js
  _nuxt/4f88247.js
  _nuxt/52b8e7e.js
  _nuxt/5af59c5.js
  _nuxt/5d90d9b.js
  _nuxt/63c2227.js
  _nuxt/74ea6eb.js
  _nuxt/896ad27.js
  _nuxt/LICENSES
  _nuxt/a4e0b0a.js
  _nuxt/bc275a1.js
  _nuxt/d97c62a.js
  _nuxt/e317dff.js
  _nuxt/img/bg_zelda_bow_green.09563dd.jpg
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

refactor: 💡 zelda item select
  config/dataurl.ts
  config/zelda-bow-item-list.ts
  pages/zelda_bow/item.vue
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  stylelint --fix: any of: *.{css,scss,vue}
  prettier --write: (any of: *.html) or (any of: *.json)
