Repository webcyou-org/game-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

deploy: ddf454fcdfba271e0ef86850f47fa868c98378e6
  200.html
  _nuxt/0bb11eb.js
  _nuxt/1ef804e.js
  _nuxt/5623aa2.js
  _nuxt/7c33f6b.js
  _nuxt/9e653ba.js
  _nuxt/LICENSES
  _nuxt/c50c8c1.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

feat: 🎸 update readme
  README.md
Due: none

refactor: 💡 user profile icon
  assets/images/user/profile.jpg
  pages/index.vue
Due: eslint --fix, stylelint --fix

deploy: 29bea128e3847cd2b1e8a5be5074a46d3999b69a
  200.html
  _nuxt/1ef804e.js
  _nuxt/268c4fd.js
  _nuxt/313678c.js
  _nuxt/7c33f6b.js
  _nuxt/88cf2e0.js
  _nuxt/9e653ba.js
  _nuxt/LICENSES
  _nuxt/ac4c75a.js
  _nuxt/ce06ea5.js
  _nuxt/d2381a8.js
  _nuxt/dfc0f53.js
  _nuxt/img/profile.d79f9cc.jpg
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

feat: 🎸 create online icon
  pages/index.vue
Due: eslint --fix, stylelint --fix

deploy: 05e3e77b13704d7f1e1184311142c0ba9dc4ec6e
  200.html
  _nuxt/020a2b1.js
  _nuxt/174e946.js
  _nuxt/88cf2e0.js
  _nuxt/LICENSES
  _nuxt/dfc0f53.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

refactor: 💡 add box shadow
  pages/index.vue
Due: eslint --fix, stylelint --fix

deploy: a1f0c1964e4c79352d17c513317f28404db622ae
  200.html
  _nuxt/020a2b1.js
  _nuxt/174e946.js
  _nuxt/20f9f17.js
  _nuxt/43adf30.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

feat: 🎸 create switch message icon
  pages/index.vue
Due: eslint --fix, stylelint --fix

deploy: 24a4b04fe16bc0fadcd833d2a95906ab0b05b3fb
  200.html
  _nuxt/20f9f17.js
  _nuxt/43adf30.js
  _nuxt/LICENSES
  _nuxt/d970a82.js
  _nuxt/ff8ce9c.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

refactor: 💡 switch message icon layout
  pages/index.vue
Due: eslint --fix, stylelint --fix

deploy: a4cc28fdf8711ebdbb9c56a43d4f65355a6dff27
  200.html
  _nuxt/0b64583.js
  _nuxt/53cd7c0.js
  _nuxt/LICENSES
  _nuxt/d970a82.js
  _nuxt/ff8ce9c.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

feat: 🎸 create icon bag
  pages/index.vue
Due: eslint --fix, stylelint --fix

deploy: ba8adfc027a2bf4a82eba5488d73e5efc8d9d761
  200.html
  _nuxt/0b64583.js
  _nuxt/113119d.js
  _nuxt/53cd7c0.js
  _nuxt/cdf336b.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

feat: 🎸 create switch icon photo
  pages/index.vue
Due: eslint --fix, stylelint --fix

deploy: ac6b0fdb4331eb280af742d686dc9e0de0d1c8ea
  200.html
  _nuxt/0d72bfd.js
  _nuxt/113119d.js
  _nuxt/LICENSES
  _nuxt/cdf336b.js
  _nuxt/f771401.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

refactor: 💡 switch controller icon style
  pages/index.vue
Due: eslint --fix, stylelint --fix

deploy: 80c51d66063bf2b2c4cda9a7e7f5d125e2755238
  200.html
  _nuxt/0d72bfd.js
  _nuxt/64a1c33.js
  _nuxt/LICENSES
  _nuxt/f771401.js
  _nuxt/fc05e17.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

feat: 🎸 create switch single controller icon
  pages/index.vue
Due: eslint --fix, stylelint --fix

deploy: 80e8c8a4b4fe1bd8213f381d4ac952da340f018f
  200.html
  _nuxt/64a1c33.js
  _nuxt/ea54e62.js
  _nuxt/f183e76.js
  _nuxt/fc05e17.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

feat: 🎸 create switch setting icon
  pages/index.vue
Due: eslint --fix, stylelint --fix

feat: 🎸 create switch sleep icon
  pages/index.vue
Due: eslint --fix, stylelint --fix

deploy: 64dd77ece85579ff318bf551a03a097f9107692a
  200.html
  _nuxt/64cf50a.js
  _nuxt/a5dfeec.js
  _nuxt/ea54e62.js
  _nuxt/f183e76.js
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

feat: 🎸 add home menu list item
  assets/images/pic_home_main_menu_2.jpg
  assets/images/pic_home_main_menu_3.jpg
  pages/index.vue
Due: eslint --fix, stylelint --fix

deploy: 3ec701113fbfa0bb3f5c887cc08067378aeca799
  200.html
  _nuxt/03de77c.js
  _nuxt/0e69b6e.js
  _nuxt/313678c.js
  _nuxt/4dd1590.js
  _nuxt/56312af.js
  _nuxt/57b5d18.js
  _nuxt/64cf50a.js
  _nuxt/9ec6bf5.js
  _nuxt/LICENSES
  _nuxt/a5dfeec.js
  _nuxt/ac4c75a.js
  _nuxt/cac50b0.js
  _nuxt/ce85113.js
  _nuxt/d2381a8.js
  _nuxt/f6ef645.js
  _nuxt/img/pic_home_main_menu_2.b2a7a25.jpg
  _nuxt/img/pic_home_main_menu_3.fbdb234.jpg
  index.html
  zelda_bow/index.html
  zelda_bow/item/index.html
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  stylelint --fix: any of: *.{css,scss,vue}
  prettier --write: (any of: *.html) or (any of: *.json)
